<h1><%=@shirt.name%></h1>
<p><%=@shirt.description%></p>

<%=image_tag @shirt.image %>

<h4>
<%= link_to 'Edit Shirt', edit_shirt_path(@shirt) %> |
<%= link_to 'Delete Shirt', shirt_path(@shirt), method: "DELETE", confirm: "Are you sure you want to delete this shirt?" %>
</h4>
